html {
  font-size: 10px;
  background: url(https://i.imgur.com/v466osn.jpg) bottom center; /**Changed this to a drumset background. :) **/
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100vh; /** Changed this to improve the layout :) **/
}

.keys {
  display: flex;
  flex: 1;
  min-height: 50vh; /** Changed this to improve the layout :) **/
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: .5rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

/** Adding Styles - jpasholk **/

.header {
  display: flex;
  justify-content: center;
  color: #d3d3d3;
  font-size: 4.2rem;
  text-shadow: 0 0 .5rem black;
  transition: all .075s ease;
}
.footer {
  display: flex;
  justify-content: center;
  color: #d3d3d3;
  font-size: 1.8rem;
  text-shadow: 0 0 .5rem black;
}

@media screen and (max-width: 768px) {
  kbd {
    display: none;
  }
  .sound {
    font-size: 1.6rem;
    text-shadow: 0 0 .5rem black;
  }
  .keys {
    display: flex;
    flex-wrap: wrap;
  }
  .key {
    border-radius: 1rem;
    padding: 2.5rem;
    background: rgba(0,0,0,0.5);
  }
  header {
    transform: scale(0.85);
  }
}
